body {
	background: #87ceeb;
	color: white;
	font-size: 20px;
	font-family: "Cambria";
}

body > section {
	border: 5px solid #48cd31;
	padding: 30px;
	margin: 30px;
}

h1 {
	font-style: italic;
	text-align: center;
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

nav {
	text-align: center;
	clear: both;
}

li {
	font-weight: bold;
	list-style-type: none;
	display: inline-block;
}

img {
	float: right;
}

a {
	color: #50ccad;
}

span {
	color: #808689;
}
